/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/

.error-logo {
    font-family: $body-font;
    font-size: 16.5rem;
    font-weight: 500;
    color: $secondary;
    line-height: 1;
    letter-spacing: 0.5rem;
}

.error-content {
    p {
        font-size: 0.875rem;
        letter-spacing: 0.05rem;
    }

    .go-home {
        padding: 1.5rem 5rem;
        font-size: 0.875rem;
        font-family: $body-font;
        font-weight: 600;
        letter-spacing: 0.07rem;
    }
}

@include media-breakpoint-down(lg) {
    .error-logo {
        font-size: 13.5rem;
    }
}