/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/

.error-logo {
    font-family: $body-font;
    font-size: 16.5rem;
    font-weight: 500;
    color: $secondary;
    line-height: 1;
    letter-spacing: 0.5rem;

    @include media-breakpoint-down(lg) {
        font-size: 13.5rem;
    }
}

.error-content {
    p {
        letter-spacing: 0.05rem;
    }
}