
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


.banner {
    position: relative;
    padding: 5.375rem 0;

    .banner-wrap {
        padding-left: 4.375rem;
        padding-right: 4.375rem;
    }
}

