/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/

.shipping-banner {
	position: absolute;
	left: 4.375rem;
	top: 5.625rem;	
}

.carousel-indicator {
	position: absolute;
	bottom: 2rem;
	width: 100%;
	
	span {
		font-family: $body-font;
		font-size: 1rem;
		font-weight: 700;
		color: #cdcdcd;
	}
	
	li {
		width: 2rem;
		height: 0.17rem;
		border-radius: 1rem;
		background-color: #cbd3e3;
		
		&.active {
			background-color: $theme-color;
		}
	}
}

.sign-up-link {
	display: inline-block;
	background-color: $theme-color;
	font-family: $body-font;
	font-weight: 700;
	font-size: .875rem;
	color: $white;
	letter-spacing: .1rem;
	padding: 1rem 4rem;
	border-radius: 2rem;
	text-decoration: none;
	border: 1px solid $theme-color;
	white-space:nowrap;
}

// slider items//
.slick-prev::before, .slick-next:before {
	 font-size: 3rem;
	 opacity: 1;
	 color:#737373;

	 @include media-breakpoint-down(lg) {
		display: none;
	}
 }

 .slick-prev {
	 left:-10rem;

	 @include media-breakpoint-down(lg) {
		display: none !important;
	}
 }

 .slick-next {
    right: -7rem;

	@include media-breakpoint-down(lg) {
		display: none !important;
	}
}


 .slick-dots {
	width: 8rem;

	li {
		margin-left: 2rem;

		button {
			&:before {
				content: "";
				width: 2.5rem;
				height: 3px;
				background-color: $theme-color;
				vertical-align: middle;
			}
		}
	}
}


#subscribe {
	input{
		border-bottom: 1px solid $white;
	}

	input[type=text], input[type=email] {
		height: 3rem;
	}

	label {
		color: $white;
		font-size: 0.8rem;
		font-family: $body-font;
		display: block;
		margin-bottom: -1rem;
	}

	button {
		font-size: 0.8rem;
		padding: 1.2rem 2.5rem;
		font-family: $body-font;
		font-weight: 700;
		letter-spacing: 0.05rem;

		i {
			font-size: 0.9rem;
			margin-left: 1rem;
		}
	}
}

.video-btn {
	position: absolute;
	top: 30%;
	left: 45%;
	a {
		padding: 3rem;
	}
}