
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#contact {
	input,select {
		border-bottom: 1px solid #cdcdcd;
	}


	label {
		color: $white;
		display: block;
		margin-bottom: -1rem;
		padding-left: 0.8rem;
	}
}