
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		font-family: $body-font;
		font-weight: 700;
		color: $secondary;
		line-height: 1;
		letter-spacing: 0.05rem;
	}
}

.breadcrumb {
	display: flex;
	font-size: $h6-font-size;
	padding: 0.625rem 0;

	li {
		padding: 0 0.625rem;

		&.active {
			color: #ddcef5;
		}

		&:first-child {
			padding-left: 0;
		}
	}
}