
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
    display: block;
	margin-bottom: 1.5rem;
	
	.icon-wrapper, .icon-header {
		font-size: 1rem;
		color: $dark;
	}

	.icon-wrapper {
		color: $theme-color;
	}
}